:root {
    cursor: unset;
}

code {
    padding: 0.125em 0.5ch;
}

body>main {
    display: grid;
    grid-template-columns: 15ch auto;
    column-gap: calc(var(--block-spacing-horizontal) * 3);
}

aside nav li {
    --nav-element-spacing-vertical: 0.5rem;
}

aside nav li a {
    padding: 0;
    /* Default pico margin for horizontal navs is negative for some reason. */
    margin: 0;
}

nav details {
    border-bottom: none;
}

nav details summary {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

nav details summary::after {
    min-width: 1rem;
    align-self: center;
    user-select: none;
}

nav details ul {
    /* Ugh. Need to override the margin-left for horizontal navs, because it has
       a :first-of-type that takes precedence. */
    margin-left: 1ch !important;
}

p:last-child {
    margin-bottom: unset;
}

.wud-note {
    --card-box-shadow:
        0.0145rem 0.029rem 0.174rem rgba(27, 40, 50, 0.01698),
        0.0335rem 0.067rem 0.402rem rgba(27, 40, 50, 0.024),
        0.0625rem 0.125rem 0.75rem rgba(27, 40, 50, 0.03),
        0.1125rem 0.225rem 1.35rem rgba(27, 40, 50, 0.036),
        0 0 0 0.0625rem rgba(27, 40, 50, 0.015);

    display: flex;

    margin: var(--typography-spacing-vertical) 2em;
    padding: 1em var(--block-spacing-horizontal);
    border-radius: var(--border-radius);
    background: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
}

.wud-note>img:first-child {
    height: 1em;
    margin-right: 1ch;
    margin-top: 0.18em;
}

h1 a:hover::before,
h2 a:hover::before,
h3 a:hover::before,
h4 a:hover::before,
h5 a:hover::before,
h6 a:hover::before {
    content: "#";
    position: absolute;
    translate: -2ch 0;
}

dl {
    display: grid;
    padding: 0;
    grid-template-columns: fit-content(30%) auto;
    gap: var(--block-spacing-horizontal)
}

dl dt {
    font-weight: bold;
}

dl dd {
    margin: 0;
}

.wud-fnote-group {
    padding-left: 0;
}

.wud-fnote-entry {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 0.5ch;
}

.wud-fnote-entry::marker {
    content: "";
}
